version: '3.8'

services:
  db:
    image: postgres:16.3
    container_name: social_postgres_db
    environment:
      POSTGRES_DB: social
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql

    ports:
      - "5432:5432"

volumes:
  db-data: